extends layout 
 
block content 
  h1= title 
 
  form(id='BalloonForm', action="/resource/Balloon", method="POST")
    //-div.form-group
     //-   label.BalloonAttr(for='balloonid') Balloon id
       //- input#balloonid(type='number', name='balloonid') 
    div.form-group 
        label.BalloonAttr(for='balloon_color') Balloon color 
        input#balloon_color(type='text', name='balloon_color') 
    div.form-group 
        label.BalloonAttr(for='balloon_size') Balloon size 
        input#balloon_size(type='number', name='balloon_size') 
    div.form-group 
        label.BalloonAttr(for='balloon_type') Balloon type 
        input#balloon_type(type='text', name='balloon_type') 
    input(type="submit") 
 
  script. 
    document.forms['BalloonForm'].addEventListener('submit', (event) => { 
     event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
    fetch(event.target.action, { 
    method: 'POST',
      body: new URLSearchParams(new FormData(event.target)) 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
      }); 
 