extends layout 
 
block content 
  h1= title 
 
  - let balloonid = toShow._id 
  - let balloon_color = toShow.ballon_color 
  - let balloon_size = toShow.balloon_size
  - let balloon_type = toShow.balloon_type 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{balloonid} 
  - let actionid = "/resource/Balloon/" + balloonid 
  form(id='BalloonForm', action= actionid, method="PUT") 
    div.form-group 
        label.BalloonAttr(for='balloon_color') Balloon color 
        input#balloon_color(type='text', name='balloon_color', value= balloon_color ) 
    div.form-group 
        label.BalloonAttr(for='balloon_size') Ballon size 
        input#balloon_size(type='number', name='balloon_size', value= balloon_size ) 
    div.form-group 
        label.BalloonAttr(for='balloon_type') Balloon type 
        input#balloon_type(type='text', name='balloon_type', value= balloon_type ) 
    input(type="submit") 
 
  script. 
    document.forms['BalloonForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target))  
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 